<!--This is the main container of the page-->
<div class="container center border">
  <!--heading for page-->
  <h1 class="display-2">Welcome</h1>
  <!--Select a user and LOGIN-->
  <h5 class="text-muted lead">Please select a user:</h5>
  <form #selectUserForm="ngForm" (ngSubmit)="selectUser(selectUserForm)">
    <select name="selectedUser" ngModel>
      <option *ngFor="let u of users" value="{{u.name}}">{{u.name}}</option>
    </select>
    <input class="mx-sm-3 my-sm-1 btn btn-outline-primary" type="submit" value="Login" />
  </form>
  <br />
  <br />

  <!--This form will ADD a new user-->

  <span class="text-muted lead">Or add or Delete a user:</span>
  <form #addUserForm="ngForm" (ngSubmit)="buttonSubmit(addUserForm)">
    <input type="text" name="name" ngModel />
    <input class="mx-sm-3 my-sm-1 btn btn-outline-primary"  type="submit" value="Add User" />
  </form>
  <br />
<!-- this form will DELETE a user-->
  <form #deleteUserForm="ngForm" (ngSubmit)="deleteUser(deleteUserForm)">
    <select name="deleteUser" ngModel>
      <option *ngFor="let u of users" value="{{u.userId}}">{{u.name}}</option>
    </select>
    <input class="mx-sm-3 my-sm-1 btn btn-outline-primary"  type="submit" value="Delete User" />
  </form>
</div>
