<br />
<h1 class="display-4">Ticket Details</h1>
<br />
<div *ngIf="ticket!==undefined">
  <p><b>Ticket ID:   </b> {{ticket.ticketId}}</p>

  <p><b>Problem: </b> {{ticket.title}} </p>

  <p><b>Description:   {{ticket.Description}}</b></p>

  <div *ngIf="ticket.resolved===false">
    <form #addSolutionForm="ngForm" (ngSubmit)="addSolution(addSolutionForm,this.ticket)">
      <p><b>Add Solution</b></p>
      <input type="text" name="solution" ngModel />
      <input type="submit" value="Add Solution" />
    </form>

  </div>


  <div *ngIf="ticket.resolved===true">
    <p> <b>Resolved:  </b> {{ticket.resolved}}</p>
  </div>

  <p> <b>Solution:  </b> {{ticket.solution}}</p>

  <p><b>Priority:   </b> {{ticket.priority}}</p>
</div>


<div>
  <button class="btn btn-lg btn-outline-primary" (click)="addBookmark()">Add Bookmark</button>
</div>
